<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <header>
    <h1>
      Hi {{ person }}!
    </h1>
  </header>

  <section class="card">
    <header class="card-header">
      <h5>This is my list of expenses</h5>
    </header>
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th>description</th>
          <th>date</th>
          <th>amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses" [hidden]="expense.deleted" [class.expensive]="expense.amount > 500">
          <td>{{ expense.description }}</td>
          <td>{{ expense.date | date }}</td>
          <td>{{ expense.amount }}</td>
          <td>
            <a href="#" (click)="deleteExpense(expense)">delete</a>
          </td>
        </tr>
      </tbody>
    </table>

  </section>

</div>
